<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body ng-app="app">
  <div ng-controller="PeopleController as people">
    <ul>
      <li
        ng-repeat="person in people.data"
        ng-if="people.isActive(person)"
        ng-class="people.classNames(person)"
        ng-click="people.activeHandler($index)"
      >
        {{person.name}}
      </li>
    </ul>
    <input type="text" class="name" ng-model="people.inputName">
    <input type="button" class="add" value="add" ng-click="people.addHandler()">

    <input
      type="button"
      ng-repeat="filter in people.filters"
      value="{{filter.value}}"
      ng-class="people.filtersClassNames(filter)"
      ng-click="people.filterChange(filter)"
    >
  </div>

  <div ng-controller="PeopleReduxController as people">
    <ul>
      <li
        ng-repeat="person in people.data"
        ng-if="people.isActive(person)"
        ng-class="people.classNames(person)"
        ng-click="people.togglePersonState($index)"
      >
        {{person.name}}
      </li>
    </ul>
    <input type="text" class="name" ng-model="people.inputName">
    <input type="button" class="add" value="add" ng-click="people.addHandler()">

    <input
      type="button"
      ng-repeat="filter in people.filters"
      value="{{filter.value}}"
      ng-class="people.filtersClassNames(filter)"
      ng-click="people.filterChange(filter)"
    >
  </div>
</body>
</html>