li {
  font-family: Verdana;
  font-size: 18px;
  margin: 20px 0;
}

.inactive {
  color: red;
  text-decoration: line-through;
}

.active {
  color: green;
}

.filter-active {
  background-color: aqua;
}